<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{pageTitle}}</title>
</head>
<body>
    {{> header}}
    <p>Here we are discuss about something unique .</p>
    {{> footer}}
</body>

</html>